$highlightmed: rgba(50, 50, 50, 0.5);
$highlighthigh: rgba(50, 50, 50, 1);
$muted: #9893a5;

$altbackground: rgba(255, 255, 255, 0.3);
// $background: #fff6d8;
$background: rgba(204, 204, 204, 0.5);
// $foreground: #484431;
$foreground: grey20;

$accent: #b4637a;
$color1: #323232;
$color2: grey20;
$color3: #323232;
$color4: #323232;

* {
    all: unset;
    font-family: Iosevka Comfy Motion;
}

.separator {
    border: 1px solid $foreground;
    margin: 4px 5px;
}

.bar, .bar-secondary {
    background: rgba(255, 255, 255, 1);
    color: $foreground;
    padding: 0px;
    font-size: 20px;
    // background-color: $background;
    // border: 1px solid $highlightmed;
}

.sidestuff {
    padding-right: 7px;

    slider {
        all: unset;
        color: #ffd5cd;
    }

    .mu4e_mail {
        margin-right: 5px;
    }
}

.metric scale trough {
    all: unset;
    background-color: $highlightmed;
    border-radius: 50px;
    min-height: 3px;
    min-width: 25px;
    margin-left: 5px;
}

.metric scale trough highlight {
    all: unset;
    background-color: $color4;
    color: $highlightmed;
    border-radius: 10px;
}

.left-side,
.center-side,
.sidestuff {
    background-color: $background;
    // background-color: rgba(204, 204, 204, 0.5);
    // background-color: #ccc;
    // color: white;
    border-radius: 15px;
    padding: 0 10px;
}

.left-side {
    .mode {
        padding: 0 5px;
        color: #ffffff;
        background-color: $color1;
        &.resize {
            background-color: $color4;
        }
    }
}

.workspaces button {
    padding: 0 5px;
    color: $foreground;
    font-weight: 100;
    // font-weight: bold;
    // color: #666;
}
.workspaces .focused {
    font-weight: bold;
}
.workspaces .urgent {
    background-color: #323232;
    color: #ffffff;
}
.workspaces button:hover {
    color: #323232;
}

// Agenda
.agenda_type_label {
    font-size: larger;
    font-weight: bolder;
}
.agenda_list {
    font-size: larger;
    .agenda_task {
        &_past-scheduled {
            color: $color2;
            font-weight: bold;
        }
        &_deadline {
            color: $color1;
            font-weight: bold;
        }

        .agenda_task_todo_NEXT {
            color: $color2;
            font-weight: bold;
        }
        .agenda_task_todo_TODO {
            color: $color1;
            font-weight: bold;
        }
        .agenda_task_todo_WAIT {
            color: $muted;
            font-weight: bold;
        }
        .agenda_task_todo_DONE {
            color: $color3;
            font-weight: bold;
            text-decoration: line-through;
        }
        .agenda_task_todo_CANCELED {
            color: $color1;
            text-decoration: line-through;
            font-weight: bold;
        }

        .agenda_task_head, .agenda_task_time, .agenda_task_extra {
            &.DONE, &.CANCELED {
                text-decoration: line-through;
                color: #666666;
            }
        }
    }
}

.org_clock_btn {
    margin-right: 5px;
}

// Reminder
.reminder_pop {
    background-color: $background;
    padding: 12px;
    border-radius: 16px;
    font-size: 9px;
    border: 1px solid $altbackground;
    color: $foreground;
}

.reminder_input {
    border: 1px solid $color1;
    color: $color1;
    min-height: 25px;
}

.reminders {
    font-size: 9px;
}

.pop_module {
    background-color: $altbackground;
    border-radius: 16px;
    padding: 7px;
}

.tooltip_label {
    background-color: #fff;
    border: 1px solid $color2;
    color: $foreground;
    padding: 5px;
}

.calendar:selected {
    background-color: $color2;
    color: #fff;
}

.weather_pop {
    background-color: $altbackground;
    border-radius: 16px;
    padding-bottom: 10px;
}
.weather_right_now_panel {
    background-color: $color2;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    min-height: 20px;
    color: $altbackground;
}
.weather_hourly_icon {
    font-size: 25px;
    margin: -7px 0;
}
.weather_forecast {
    margin-top: -15px;
}

.control_pop {
    font-size: 25px;

    .shutdown_btn {
        color: $color1;
    }
}

// Music
.song_cover_art {
    background-size: cover;
    background-position: center;
    min-height: 12px;
    min-width: 16px;
    margin: 4px;
    border-radius: 30px;
}

.song {
    color: $color2;
    font-weight: bold;
    margin: 4px 0px 4px 0px;
}

.song_btn_play, .song_btn_prev, .song_btn_next {
    color: $color2;
    font-size: 14px;
}

.music_cover_art {
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    min-width: 150px;
}

.music {
    color: $color2;
    font-size: 14px;
    font-weight: bold;
}

.music_artist {
    color: $color2;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
}

.music_btn_prev, .music_btn_play, .music_btn_next {
    font-weight: normal;
    margin: 0;
    color: $color2;
    font-size: 16px;
}

.music_btn_play {
    color: $color2;
}

.music_bar {
    margin-top: 7px;
}

.music_bar scale trough highlight {
    all: unset;
    background-image: linear-gradient(to right, #afcee0 30%, #acbdce 50%, #77a5bf 100% *50);
    border-radius: 24px;
}

.music_bar scale trough {
    all: unset;
    background-color: $color2;
    border-radius: 24px;
    min-height: 13px;
    min-width: 120px;
}

// dunst-snooze
.dunst-snooze {
    margin-left: 7px;
}

// openweather
.weather {
    font-family: Weather Icons;
    margin-right: 7px;
}

// Systray
.systray {
    margin-left: 5px;
}
// power
.power {
    color: $color1;
}

.power-options {
    margin-left: 7px;
}

.shutdown {
    color: $color1;
}

// Which key
.which-key {
    font-size: larger;
    .sway {
        color: $foreground;
    }
    .exec {
        color: $color1;
    }
    .mode {
        color: $color1;
    }
}
