[user]
	email = queyenth@gmail.com
	name = Andrei
[init]
	defaultBranch = master
[rebase]
	autoStash = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[pull]
	rebase = true
[commit]
	gpgsign = true
[alias]
	branches = "!sh -c \"git switch $(git for-each-ref --sort='-authordate:iso8601' --format=' %(authordate:relative)%09%(refname:short)' refs/heads | fzf | cut -f2)\""
