#include "/home/q/.colors/oxeded_new"
st.font: Hack Nerd Font Mono:style=Regular:size=12:dpi=96:antialias=true:autohint=true
st.boldFont: Hack Nerd Font Mono:style=Bold:size=12:dpi=96:antialias=true:autohint=true

*.alpha: 1

Xft.dpi: 120
Xft.antialias: 1
Xft.autohint: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb
